<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=1728, maximum-scale=1.0" />
    <link rel="shortcut icon" type="static/image/png" href="https://animaproject.s3.amazonaws.com/home/favicon.png" />
    <meta name="og:type" content="website" />
    <meta name="twitter:card" content="photo" />
    <link rel="stylesheet" type="text/css" href="static/css/about.css" />
    <link rel="stylesheet" type="text/css" href="static/css/styleguide.css" />
    <link rel="stylesheet" type="text/css" href="static/css/globals.css" />
  </head>
  <body style="margin: 0; background: #fff4ee">
    <input type="hidden" id="anPageName" name="page" value="about" />
    <div class="container-center-horizontal">
      <div class="about screen">
        <div class="navbar">
          <div class="overlap-group3">
            <div class="rectangle-2"></div>
            <a href="landing-page.html">
              <div class="logo">
                <img class="her-world" src="static/img/her-world-3@2x.svg" />
                <img class="x" src="static/img/-@2x.svg" /></div></a
            ><a href="/discover"><div class="discover madeevolvesans-bold-blue-bayoux-48px">Discover</div> </a
            ><a href="/"><div class="place madeevolvesans-bold-blue-bayoux-48px">Home</div> </a
            ><a href="/events"><div class="events madeevolvesans-bold-blue-bayoux-48px">Events</div> </a>
            <div class="about-1 madeevolvesans-bold-blue-bayoux-48px">About</div>
            <a href="sign-up.html">
              <div class="sign-up-button">
                <div class="overlap-group">
                  <img class="rectangle-1" src="static/img/rectangle-1-6@2x.svg" />
                  <div class="sign-up madeevolvesans-bold-cinderella-29-9px">Sign Up</div>
                </div>
              </div></a
            >
          </div>
        </div>
        <div class="overlap-group4">
          <!––img class="priscilla-du-preez-g" src="static/img/priscilla-du-preez-gydjzzxnwlg-unsplash-2@1x.png" style="background-color:blue"/-->
          
          <img class="he-rworld" src="static/img/herworld--4@2x.svg" />
        </div>
        <div class="he-rworld-allows-you madeevolvesans-medium-blue-bayoux-36px">
          <p>HERworld allows you as a business owner to promote your business or event by allowing you to create posts,
          videos, and livestream. Also on the website, you are given tools such as the ability to link your shop
          directly to the app to control sales and view payment details. You can also run inventory and see the most
          popular items brought from your store. <br /><br />Using HERworld as a regular user allows you to find local
          businesses that are relevant to you. It also allows you to see posts and live streams from your favorite
          businesses as well as new ones. Also within the app, you will be able to track shipping and view your recent
          purchases. <br /><br />We bring you closer to clients by eliminating all trends, instead we use fully
          randomized technologies on our discover page that do not favor anyone more than another. <br /><br />We pride
          ourselves on treating you like a family member. We encourage you to learn and grow together to foster a more
          positive community.</p>
        </div>
        <div class="group-704">
          <div class="overlap-group2">
            <img class="he-rworld-1" src="static/img/herworld--5@2x.svg" />
            <div class="group-701">
              <div class="group-697 madeevolvesans-bold-blue-bayoux-32-8px">
                <div class="overlap-group1">
                  <div class="about-2">About</div>
                  <div class="place-1">Home</div>
                </div>
                <div class="overlap-group-1">
                  <div class="faq">FAQ</div>
                  <div class="place-2">Contact</div>
                </div>
              </div>
              <img class="mask-group" src="static/img/mask-group-26@2x.svg" />
              <div class="x2022-he-rworld-all valign-text-middle madeevolvesans-light-blue-bayoux-18-7px">
                © 2022 HERworld. All Rights Reserved.<br /><br />Terms &amp; Conditions | Privacy Policy | Cookie Policy
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
