<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=1728, maximum-scale=1.0" />
    <link rel="shortcut icon" type="static/image/png" href="https://animaproject.s3.amazonaws.com/home/favicon.png" />
    <meta name="og:type" content="website" />
    <meta name="twitter:card" content="photo" />
    <link rel="stylesheet" type="text/css" href="static/css/discover.css" />
    <link rel="stylesheet" type="text/css" href="static/css/styleguide.css" />
    <link rel="stylesheet" type="text/css" href="static/css/globals.css" />
  </head>
  <body style="margin: 0; background: #fff4ee">
    <input type="hidden" id="anPageName" name="page" value="discover" />
    <div class="container-center-horizontal">
      <div class="discover screen">
        <div class="navbar">
          <div class="overlap-group11">
            <div class="rectangle-2"></div>
            <a href="/home">
              <div class="logo">
                <img class="her-world" src="static/img/logo@1x.png" />
                <img class="x" src="img/-@2x.svg" /></div
            ></a>
            <div class="discover-1 madeevolvesans-bold-blue-bayoux-48px">Discover</div>
            <a href="/home"><div class="place madeevolvesans-bold-blue-bayoux-48px">Home</div> </a
            ><a href="/events"><div class="events madeevolvesans-bold-blue-bayoux-48px">Events</div> </a
            ><a href="/about"><div class="about madeevolvesans-bold-blue-bayoux-48px">About</div> </a
            ><a href="sign-up.html">
              <div class="sign-up-button">
                <div class="overlap-group-3">
                  <img class="rectangle-1" src="static/img/rectangle-1-4@2x.svg" />
                  <div class="sign-up madeevolvesans-bold-cinderella-29-9px">Sign Up</div>
                </div>
              </div></a
            >
          </div>
        </div>
        <div class="search-bar-filter">
          <div class="overlap-group-4">
            <img class="image-1" src="static/img/image-1@2x.png" />
            <div class="search-for-a-business-or-an-event">Search for a business or an event...</div>
          </div>
          <div class="filter-container">
            <img class="filter-icon-vector" src="static/img/filter-icon-vector@2x.png" />
            <div class="filter">Filter</div>
          </div>
        </div>
        <div class="local-businesses-near-your-area madeevolvesans-bold-blue-bayoux-65px">
          Local Businesses Near Your Area
        </div>
        <div class="overlap-group12">
          <div class="overlap-group12-item">
            <div class="flex-col">
              <a href="sample-business-page-1.html">
                <div class="bakery">
                  <div class="overlap-group-container-1">
                    <div class="overlap-group">
                      <img class="mask-group-4" src="static/img/mask-group@1x.png" />
                      <img class="mask-group-5" src="static/img/mask-group-26@1x.svg" />
                      <img class="mask-group-6" src="static/img/mask-group-27@2x.svg" />
                      <div class="ellipse-1-2"></div>
                    </div>
                    <div class="overlap-group-5">
                      <div class="jessas-bakery">Jessa’s Bakery</div>
                      <div class="hi-everyone-im-jes">
                        Hi everyone, I’m Jessa and I bake lots of sweets<br />and goods for everyone to enjoy! I’m a
                        local...
                      </div>
                    </div>
                  </div>
                </div></a
              >
              <div class="overlap-group-container-2">
                <div class="overlap-group">
                  <img class="mask-group" src="static/img/mask-group-23@1x.svg" />
                  <img class="mask-group-1" src="static/img/mask-group-24@2x.svg" />
                  <div class="ellipse-1 border-1-4px-cloudy"></div>
                </div>
                <div class="overlap-group1">
                  <div class="dotty-designs madeevolvesans-bold-blue-bayoux-43px">Dotty Designs</div>
                  <div class="x-hand madeevolvesans-medium-blue-bayoux-22-9px">
                    We sell handpainted designs to be used as beautiful stationaries, cards, writing sets, and mo...
                  </div>
                </div>
              </div>
            </div>
            <div class="overlap-group-container">
              <div class="overlap-group-1">
                <img class="mask-group-2" src="static/img/mask-group-21@1x.svg" />
                <img class="mask-group-3" src="static/img/mask-group-22@2x.svg" />
                <div class="ellipse-1-1 border-1-4px-cloudy"></div>
              </div>
              <div class="overlap-group-2">
                <div class="rummage madeevolvesans-bold-blue-bayoux-43-1px">Rummage</div>
                <div class="looking-to-shop-for madeevolvesans-medium-blue-bayoux-23px">
                  Looking to shop for the latest fashion trends?<br />Rummage is a sustainable clothing shop...
                </div>
              </div>
            </div>
          </div>
          <div class="overlap-group12-item">
            <div class="overlap-group-container-3">
              <div class="overlap-group">
                <img class="mask-group" src="static/img/mask-group-30@1x.svg" />
                <img class="mask-group-1" src="static/img/mask-group-31@2x.svg" />
                <div class="ellipse-1 border-1-4px-cloudy"></div>
              </div>
              <div class="overlap-group2">
                <div class="dotty-designs-1 madeevolvesans-bold-blue-bayoux-43px">Dotty Designs</div>
                <div class="x-hand madeevolvesans-medium-blue-bayoux-22-9px">
                  We sell handpainted designs to be used as beautiful stationaries, cards, writing sets, and more!
                </div>
              </div>
            </div>
            <div class="overlap-group-container-4">
              <div class="overlap-group-1">
                <img class="mask-group-2" src="static/img/mask-group-28@1x.svg" />
                <img class="mask-group-3" src="static/img/mask-group-29@2x.svg" />
                <div class="ellipse-1-1 border-1-4px-cloudy"></div>
              </div>
              <div class="overlap-group-2">
                <div class="rummage-1 madeevolvesans-bold-blue-bayoux-43-1px">Rummage</div>
                <div class="looking-to-shop-for-1 madeevolvesans-medium-blue-bayoux-23px">
                  Looking to shop for the latest fashion trends?<br />Rummage is a sustainable clothing shop...
                </div>
              </div>
            </div>
          </div>
          <div class="overlap-group-container-5">
            <div class="overlap-group">
              <img class="mask-group" src="static/img/mask-group-36@1x.svg" />
              <img class="mask-group-1" src="static/img/mask-group-37@2x.svg" />
              <div class="ellipse-1 border-1-4px-cloudy"></div>
            </div>
            <div class="hand-container">
              <div class="handmade-homes madeevolvesans-bold-blue-bayoux-43px">Handmade Homes</div>
              <div class="x-hand madeevolvesans-medium-blue-bayoux-22-9px">
                Selling various handmade furnitures to be used to furniture your beautiful home!
              </div>
            </div>
          </div>
        </div>
        <div class="overlap-group-container-6">
          <div class="overlap-group-container-7">
            <div class="overlap-group-1">
              <img class="mask-group-2" src="static/img/mask-group-32@1x.svg" />
              <img class="mask-group-3" src="static/img/mask-group-33@2x.svg" />
              <div class="ellipse-1-1 border-1-4px-cloudy"></div>
            </div>
            <div class="overlap-group-2">
              <div class="surname madeevolvesans-bold-blue-bayoux-43-1px">Park Agency</div>
              <div class="we-are-a-female-own madeevolvesans-medium-blue-bayoux-23px">
                We are a female own and run agency dedicated to helping you create your business brand by pro...
              </div>
            </div>
          </div>
          <div class="overlap-group-container">
            <div class="overlap-group-1">
              <img class="mask-group-2" src="static/img/mask-group-34@1x.svg" />
              <img class="mask-group-3" src="static/img/mask-group-35@2x.svg" />
              <div class="ellipse-1-1 border-1-4px-cloudy"></div>
            </div>
            <div class="overlap-group-2">
              <div class="creative-capital madeevolvesans-bold-blue-bayoux-43-1px">Creative Capital</div>
              <div class="are-you-a-woman-look madeevolvesans-medium-blue-bayoux-23px">
                Are you a woman looking to fund your startup? We are a grant company looking to fund female-led start...
              </div>
            </div>
          </div>
        </div>
        <div class="group-711">
          <div class="overlap-group2-1">
            <img class="he-rworld" src="static/img/entreprenher--82x.png" />
            <div class="group-701">
              <div class="group-697 madeevolvesans-bold-blue-bayoux-32-8px">
                <div class="overlap-group-6">
                  <div class="about-1">About</div>
                  <div class="place-1">Home</div>
                </div>
                <div class="overlap-group1-1">
                  <div class="faq">FAQ</div>
                  <div class="place-2">Contact</div>
                </div>
              </div>
              <img class="mask-group-7" src="static/img/mask-group-20@2x.svg" />
              <div class="x2022-he-rworld-all valign-text-middle madeevolvesans-light-blue-bayoux-18-7px">
                © 2022 entreprenHER. All Rights Reserved.<br /><br />Terms &amp; Conditions | Privacy Policy | Cookie Policy
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
