<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=1728, maximum-scale=1.0" />
    <link rel="shortcut icon" type="static/image/png" href="https://animaproject.s3.amazonaws.com/home/favicon.png" />
    <meta name="og:type" content="website" />
    <meta name="twitter:card" content="photo" />
    <link rel="stylesheet" type="text/css" href="static/css/events.css" />
    <link rel="stylesheet" type="text/css" href="static/css/styleguide.css" />
    <link rel="stylesheet" type="text/css" href="static/css/globals.css" />
  </head>
  <body style="margin: 0; background: #fff4ee">
    <input type="hidden" id="anPageName" name="page" value="events" />
    <div class="container-center-horizontal">
      <div class="events screen">
        <div class="overlap-group3">
          <img class="he-rworld" src="static/img/herworld--6@2x.svg" />
          <div class="group-701">
            <div class="group-697 madeevolvesans-bold-blue-bayoux-32-8px">
              <div class="overlap-group1">
                <div class="about">About</div>
                <div class="place">Home</div>
              </div>
              <div class="overlap-group">
                <div class="faq">FAQ</div>
                <div class="place-1">Contact</div>
              </div>
            </div>
            <img class="mask-group" src="static/img/mask-group-27@2x.svg" />
            <div class="x2022-he-rworld-all valign-text-middle madeevolvesans-light-blue-bayoux-18-7px">
              © 2022 HERworld. All Rights Reserved.<br /><br />Terms &amp; Conditions | Privacy Policy | Cookie Policy
            </div>
          </div>
        </div>
        <div class="navbar">
          <div class="overlap-group2">
            <div class="rectangle-2"></div>
            <a href="landing-page.html">
              <div class="logo">
                <img class="her-world" src="static/img/her-world-4@2x.svg" />
                <img class="x" src="img/-@2x.svg" /></div></a
            ><a href="discover.html"><div class="discover madeevolvesans-bold-blue-bayoux-48px">Discover</div> </a
            ><a href="landing-page.html"><div class="place-2 madeevolvesans-bold-blue-bayoux-48px">Home</div> </a>
            <div class="events-1 madeevolvesans-bold-blue-bayoux-48px">Events</div>
            <a href="about.html"><div class="about-1 madeevolvesans-bold-blue-bayoux-48px">About</div> </a
            ><a href="sign-up.html">
              <div class="sign-up-button">
                <div class="overlap-group-1">
                  <img class="rectangle-1" src="static/img/rectangle-1-7@2x.svg" />
                  <div class="sign-up madeevolvesans-bold-cinderella-29-9px">Sign Up</div>
                </div>
              </div></a
            >
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
