<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=1728, maximum-scale=1.0" />
    <link rel="shortcut icon" type="static/image/png" href="https://animaproject.s3.amazonaws.com/home/favicon.png" />
    <meta name="og:type" content="website" />
    <meta name="twitter:card" content="photo" />
    <link rel="stylesheet" type="text/css" href="static/css/events.css" />
    <link rel="stylesheet" type="text/css" href="static/css/styleguide.css" />
    <link rel="stylesheet" type="text/css" href="static/css/globals.css" />
  </head>
  <body style="margin: 0; background: #fff4ee">
    <input type="hidden" id="anPageName" name="page" value="events" />
    <div class="container-center-horizontal">
      <div class="events screen">
        <div class="navbar">
          <div class="overlap-group5">
            <div class="rectangle-2"></div>
            <a href="/discover"><div class="discover madeevolvesans-bold-blue-bayoux-48px">Discover</div> </a
            ><a href="/home"><div class="place madeevolvesans-bold-blue-bayoux-48px">Home</div> </a>
            <div class="events-1 madeevolvesans-bold-blue-bayoux-48px">Events</div>
            <a href="/about"><div class="about madeevolvesans-bold-blue-bayoux-48px">About</div> </a
            ><a href="sign-up.html">
              <div class="sign-up-button-1">
                <div class="overlap-group">
                  <img class="rectangle-1" src="static/img/rectangle-1-72x.png" />
                  <div class="sign-up madeevolvesans-bold-cinderella-29-9px">Sign Up</div>
                </div>
              </div></a
            ><a href="/home"><img class="logo" src="static/img/logo@1x.png" /> </a>
          </div>
        </div>
        <div class="search-bar-filter">
          <div class="overlap-group-1">
            <img class="image-1" src="static/img/image-1@2x.png" />
            <div class="search-for-an-event madeevolvesans-regular-normal-black-34-6px">Search for an event...</div>
          </div>
          <div class="filter-container">
            <img class="filter-icon-vector" src="static/img/filter-icon-vector-1@2x.png" />
            <div class="filter madeevolvesans-regular-normal-black-34-6px">Filter</div>
          </div>
        </div>
        <div class="events-near-your-area madeevolvesans-bold-blue-bayoux-65px">Events Near Your Area</div>
        <div class="overlap-group6">
          <div class="events-2">
            <div class="overlap-group1">
              <img class="mask-group" src="static/img/mask-group-63@1x.svg" />
              <div class="x-mar madeevolvesans-regular-normal-blue-bayoux-24-9px">
                Sat, Mar 5, 10:30AM • Hosted by Shirley Johnson
              </div>
              <div class="are-you-looking-for madeevolvesans-medium-blue-bayoux-24-9px">
                Are you looking for a group of friends to have discussions with your favorite books? The local Book Club
                meets every Saturday to...
              </div>
              <div class="book-club madeevolvesans-bold-blue-bayoux-45-7px">Book Club!</div>
              <a href="sign-up.html">
                <div class="sign-up-button">
                  <div class="overlap-group-2"><div class="join madeevolvesans-bold-cinderella-35-5px">Join</div></div>
                </div></a
              >
            </div>
            <div class="overlap-group3">
              <img class="mask-group" src="static/img/mask-group-64@1x.svg" />
              <div class="x-mar madeevolvesans-regular-normal-blue-bayoux-24-9px">
                Fri, Mar 4, 5:30PM • Hosted by Anna Palmer
              </div>
              <div class="relax-your-muscles-f madeevolvesans-medium-blue-bayoux-24-9px">
                Relax your muscles from a tiring day of work and join us for some yoga! Nothing but spreading good vibes
                and peaceful attitudes.
              </div>
              <div class="yoga-session madeevolvesans-bold-blue-bayoux-45-7px">Yoga Session</div>
              <a href="sign-up.html">
                <div class="sign-up-button">
                  <div class="overlap-group-3"><div class="join madeevolvesans-bold-cinderella-35-5px">Join</div></div>
                </div></a
              >
            </div>
            <div class="overlap-group2">
              <img class="mask-group" src="static/img/mask-group-65@1x.svg" />
              <div class="x-mar madeevolvesans-regular-normal-blue-bayoux-24-9px">
                Sun, Mar 6, 11:00AM • Hosted by Martha Jackson
              </div>
              <div class="the-ladies-are-going madeevolvesans-medium-blue-bayoux-24-9px">
                The ladies are going out for brunch this Sunday and would love for you to join! Get ready to be awakened
                with coffee and gossip fr...
              </div>
              <div class="brunch-and-coffee madeevolvesans-bold-blue-bayoux-45-7px">Brunch and Coffee</div>
              <a href="/sign-up">
                <div class="sign-up-button">
                  <div class="overlap-group-4"><div class="join madeevolvesans-bold-cinderella-35-5px">Join</div></div>
                </div></a
              >
            </div>
          </div>
          <div class="overlap-group4">
            <img class="entrepren-her" src="static/img/entreprenher--62x.png" />
            <div class="group-701">
              <div class="group-697 madeevolvesans-bold-blue-bayoux-32-8px">
                <div class="overlap-group1-1">
                  <div class="about-1">About</div>
                  <div class="place-1">Home</div>
                </div>
                <div class="overlap-group-5">
                  <div class="faq">FAQ</div>
                  <div class="place-2">Contact</div>
                </div>
              </div>
              <img class="mask-group-1" src="static/img/mask-group-66@2x.svg" />
              <div class="x2022-he-rworld-all valign-text-middle madeevolvesans-light-blue-bayoux-18-7px">
                © 2022 entreprenHER. All Rights Reserved.<br /><br />Terms &amp; Conditions | Privacy Policy | Cookie Policy
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
