<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=1728, maximum-scale=1.0" />
    <link rel="shortcut icon" type="static/image/png" href="https://animaproject.s3.amazonaws.com/home/favicon.png" />
    <meta name="og:type" content="website" />
    <meta name="twitter:card" content="photo" />
    <link rel="stylesheet" type="text/css" href="static/css/sample-business-page.css" />
    <link rel="stylesheet" type="text/css" href="static/css/styleguide.css" />
    <link rel="stylesheet" type="text/css" href="static/css/globals.css" />
  </head>
  <body style="margin: 0; background: #fff4ee">
    <input type="hidden" id="anPageName" name="page" value="sample-business-page" />
    <div class="container-center-horizontal">
      <div class="sample-business-page screen">
        <div class="bakery">
          <div class="overlap-group3">
            <img class="x20170818-2048-sud-forno17-1" src="static/img/20170818-2048-sudforno17-1@1x.png" />
            <div class="overlap-group1">
              <div class="ellipse-1"></div>
            </div>
          </div>
          <div class="jessas-bakery-1 madeevolvesans-bold-blue-bayoux-65px">Jessa’s Bakery</div>
          <div class="hi-everyone-im-jes">
            Hi everyone, I’m Jessa and I bake lots of sweets and goods for everyone to <br />enjoy! I’m a local baker
            who makes cakes, bread, pies, and other pastries. <br />Everything I make is homecooked with love :)
          </div>
          <div class="overlap-group">
            <div class="rectangle-6"></div>
            <div class="rectangle-7"></div>
            <a href="/sample-business-page-1"
              ><div class="products madeevolvesans-bold-blue-bayoux-59px">Products</div>
            </a>
            <div class="posts madeevolvesans-bold-blue-bayoux-59px">Posts</div>
          </div>
        </div>
        <div class="navbar">
          <div class="overlap-group6">
            <div class="rectangle-2"></div>
            <a href="/home">
              <div class="logo">
                <img class="her-world" src="static/img/logo@1x.png" />
                <img class="x" src="static/img/-@2x.svg" /></div></a
            ><a href="/discover"><div class="discover madeevolvesans-bold-blue-bayoux-48px">Discover</div> </a
            ><a href="/home"><div class="place madeevolvesans-bold-blue-bayoux-48px">Home</div> </a
            ><a href="/events"><div class="events madeevolvesans-bold-blue-bayoux-48px">Events</div> </a
            ><a href="/about"><div class="about madeevolvesans-bold-blue-bayoux-48px">About</div> </a
            ><a href="sign-up.html">
              <div class="sign-up-button">
                <div class="overlap-group-1">
                  <img class="rectangle-1" src="static/img/rectangle-1-1@2x.svg" />
                  <div class="sign-up madeevolvesans-bold-cinderella-29-9px">Sign Up</div>
                </div>
              </div></a
            >
          </div>
        </div>
        <div class="feed-ex-1">
          <div class="overlap-group4">
            <div class="rectangle-10"></div>
            <img class="mask-group-2" src="static/img/mask-group-12@2x.svg" />
            <img class="creampuff-day-1" src="static/img/creampuff-day-1@1x.png" />
            <div class="profile-info-top">
              <div class="flex-row">
                <img class="mask-group" src="static/img/mask-group-13@2x.svg" />
                <div class="flex-col">
                  <div class="jessas-bakery">Jessa’s Bakery</div>
                  <div class="address">2 days ago</div>
                </div>
              </div>
              <div class="happy-monday-everyon madeevolvesans-medium-blue-bayoux-30px">
                Happy Monday everyone! Having a refreshing start to the week by treating yourself with some
                mouth-watering cream puffs! This delicious pastry is a handmade snack filled with sweet cream and dusted
                with powder sugar. Grab them before they’re gone!
              </div>
            </div>
            <div class="overlap-group-2">
              <div class="name madeevolvesans-medium-blue-bayoux-32px">Shirley Johnson</div>
              <div class="comments madeevolvesans-medium-blue-bayoux-32px">Comments</div>
              <div class="and">and 129 others</div>
              <img class="mask-group-1" src="static/img/mask-group-14@2x.svg" />
            </div>
          </div>
        </div>
        <div class="overlap-group-container">
          <div class="overlap-group5">
            <div class="rectangle-10-1"></div>
            <img class="x177831103_2829961401" src="static/img/177831103-282996140138307-6276226365944936179-n-1@1x.png" />
            <div class="profile-info-top">
              <div class="flex-row">
                <img class="mask-group" src="static/img/mask-group-15@2x.svg" />
                <div class="flex-col">
                  <div class="jessas-bakery">Jessa’s Bakery</div>
                  <div class="address">2 days ago</div>
                </div>
              </div>
              <div class="missed-these-little madeevolvesans-medium-blue-bayoux-30px">
                Missed these little bitesized coconut goodies? They’re back this weekend! Grab a box of 12 or 24 of our
                coconut macaroons and have a much sweeter time working from home with ‘em. 💕😋
              </div>
            </div>
            <div class="group-12">
              <img class="mask-group-3" src="static/img/mask-group-17@2x.svg" />
              <div class="overlap-group-3">
                <div class="name madeevolvesans-medium-blue-bayoux-32px">Martha Jackson</div>
                <div class="comments madeevolvesans-medium-blue-bayoux-32px">Comments</div>
                <div class="and">and 52 others</div>
                <img class="mask-group-1" src="static/img/mask-group-16@2x.svg" />
              </div>
            </div>
          </div>
          <div class="overlap-group2">
            <img class="he-rworld" src="static/img/entreprenher--12x.png" />
            <div class="group-701">
              <div class="group-697 madeevolvesans-bold-blue-bayoux-32-8px">
                <div class="overlap-group-4">
                  <div class="about-1">About</div>
                  <div class="place-1">Home</div>
                </div>
                <div class="overlap-group1-1">
                  <div class="faq">FAQ</div>
                  <div class="place-2">Contact</div>
                </div>
              </div>
              <img class="mask-group-4" src="static/img/mask-group-10@2x.svg" />
              <div class="x2022-he-rworld-all valign-text-middle madeevolvesans-light-blue-bayoux-18-7px">
                © 2022 entreprenHER. All Rights Reserved.<br /><br />Terms &amp; Conditions | Privacy Policy | Cookie Policy
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
