<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=1728, maximum-scale=1.0" />
    <link rel="shortcut icon" type="static/image/png" href="https://animaproject.s3.amazonaws.com/home/favicon.png" />
    <meta name="og:type" content="website" />
    <meta name="twitter:card" content="photo" />
    <link rel="stylesheet" type="text/css" href="static/css/sample-business-page-1.css" />
    <link rel="stylesheet" type="text/css" href="static/css/styleguide.css" />
    <link rel="stylesheet" type="text/css" href="static/css/globals.css" />
  </head>
  <body style="margin: 0; background: #fff4ee">
    <input type="hidden" id="anPageName" name="page" value="sample-business-page-1" />
    <div class="container-center-horizontal">
      <div class="sample-business-page-1 screen">
        <div class="overlap-group7">
          <div class="bakery">
            <div class="overlap-group5">
              <img class="x20170818-2048-sud-forno17-1" src="static/img/20170818-2048-sudforno17-1@1x.png" />
              <div class="overlap-group1">
                <div class="ellipse-1"></div>
              </div>
            </div>
            <div class="jessas-bakery madeevolvesans-bold-blue-bayoux-65px">Jessa’s Bakery</div>
            <div class="hi-everyone-im-jes">
              Hi everyone, I’m Jessa and I bake lots of sweets and goods for everyone to <br />enjoy! I’m a local baker
              who makes cakes, bread, pies, and other pastries. <br />Everything I make is homecooked with love :)
            </div>
            <div class="overlap-group">
              <div class="rectangle-6"></div>
              <div class="rectangle-7"></div>
              <div class="products madeevolvesans-bold-blue-bayoux-59px">Products</div>
              <a href="/sample-business-page"
                ><div class="posts madeevolvesans-bold-blue-bayoux-59px">Posts</div>
              </a>
            </div>
            <div class="group-12 madeevolvesans-medium-blue-bayoux-44px">
              <div class="overlap-group4">
                <div class="cupcake">
                  <img class="cupcake-boxes4-2-1" src="static/img/cupcake-boxes4-2-1@2x.png" />
                  <div class="box-of-6-assorted-cupcakes">Box of 6 assorted cupcakes</div>
                  <div class="price-1">$24</div>
                </div>
                <div class="new-york-cake">
                  <img class="mask-group" src="static/img/mask-group-8@2x.svg" />
                  <div class="new-york-cheesecake">New York cheesecake</div>
                  <div class="x10slice">$10/slice</div>
                </div>
                <div class="banan-bread madeevolvesans-medium-blue-bayoux-44px">
                  <img class="mask-group" src="static/img/mask-group-9@2x.svg" />
                  <div class="banana-bread-loaf">Banana bread loaf</div>
                  <div class="price-2">$15</div>
                </div>
              </div>
              <div class="overlap-group3">
                <div class="choco-cake">
                  <img class="mask-group-1" src="static/img/mask-group-2@2x.svg" />
                  <div class="overlap-group-1 madeevolvesans-medium-blue-bayoux-44px">
                    <div class="x8slice">$8/slice</div>
                    <div class="chocolate-cake">Chocolate cake</div>
                  </div>
                </div>
                <div class="croissant">
                  <img class="mask-group-2" src="static/img/mask-group-3@2x.svg" />
                  <div class="box-of-croissants">Box of croissants</div>
                  <div class="price-3">$17</div>
                </div>
                <div class="pie">
                  <img class="mask-group-3" src="static/img/mask-group-4@2x.svg" />
                  <div class="maple-pecan-apple-pie">Maple Pecan apple<br />pie</div>
                  <div class="price">$22</div>
                </div>
              </div>
              <div class="overlap-group2 madeevolvesans-medium-blue-bayoux-44px">
                <div class="choco-cake-1">
                  <img class="mask-group-1" src="static/img/mask-group-5@2x.svg" />
                  <div class="overlap-group1-1 madeevolvesans-medium-blue-bayoux-44px">
                    <div class="price-4">$7</div>
                    <div class="cinnamon-bun">Cinnamon bun</div>
                  </div>
                </div>
                <div class="croissant-1">
                  <img class="mask-group-2" src="static/img/bf4d63f5e73ae90acfd86b83979e2874.jpg"  />
                  <div class="assorted-cake-and-pastries-box">Assorted cake and<br />pastries box</div>
                  <div class="price">$65</div>
                </div>
                <div class="pie-1">
                  <img class="mask-group-3" src="static/img/mask-group-7@2x.svg" />
                  <div class="surname">French Apple puff<br />pastry</div>
                  <div class="price">$6</div>
                </div>
              </div>
            </div>
          </div>
          <div class="overlap-group2-1">
            <img class="he-rworld" src="static/img/entreprenher--42x.png" />
            <div class="group-701">
              <div class="group-697 madeevolvesans-bold-blue-bayoux-32-8px">
                <div class="overlap-group-2">
                  <div class="about">About</div>
                  <div class="place">Home</div>
                </div>
                <div class="overlap-group1-2">
                  <div class="faq">FAQ</div>
                  <div class="place-1">Contact</div>
                </div>
              </div>
              <img class="mask-group-4" src="static/img/mask-group@2x.svg" />
              <div class="x2022-he-rworld-all valign-text-middle madeevolvesans-light-blue-bayoux-18-7px">
                © 2022 entreprenHER. All Rights Reserved.<br /><br />Terms &amp; Conditions | Privacy Policy | Cookie Policy
              </div>
            </div>
          </div>
        </div>
        <div class="navbar">
          <div class="overlap-group6">
            <div class="rectangle-2"></div>
            <a href="landing-page.html">
              <a href="/home">
                <div class="logo">
                  <img class="her-world" src="static/img/logo@1x.png" />
                  <img class="x" src="static/img/-@2x.svg" /></div></a
            ><a href="/discover"><div class="discover madeevolvesans-bold-blue-bayoux-48px">Discover</div> </a
            ><a href="/home"><div class="place-2 madeevolvesans-bold-blue-bayoux-48px">Home</div> </a
            ><a href="/events"><div class="events madeevolvesans-bold-blue-bayoux-48px">Events</div> </a
            ><a href="/about"><div class="about-1 madeevolvesans-bold-blue-bayoux-48px">About</div> </a
            ><a href="sign-up.html">
              <div class="sign-up-button">
                <div class="overlap-group-3">
                  <img class="rectangle-1" src="static/img/rectangle-1@2x.svg" />
                  <div class="sign-up madeevolvesans-bold-cinderella-29-9px">Sign Up</div>
                </div>
              </div></a
            >
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
