<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=1728, maximum-scale=1.0" />
    <link rel="shortcut icon" type="static/image/png" href="https://animaproject.s3.amazonaws.com/home/favicon.png" />
    <meta name="og:type" content="website" />
    <meta name="twitter:card" content="photo" />
    <link rel="stylesheet" type="text/css" href="static/css/sign-up.css" />
    <link rel="stylesheet" type="text/css" href="static/css/styleguide.css" />
    <link rel="stylesheet" type="text/css" href="static/css/globals.css" />
  </head>
  <body style="margin: 0; background: #fff4ee">
    <input type="hidden" id="anPageName" name="page" value="sign-up" />
    <div class="container-center-horizontal">
      <div class="sign-up screen">
        <div class="overlap-group6">
          <div class="group-container">
            <img class="mask-group" src="static/img/mask-group-18@1x.svg" />
            <div class="overlap-group2">
              <img class="he-rworld" src="static/img/herworld--3@2x.svg" />
              <div class="group-701">
                <div class="group-697 madeevolvesans-bold-blue-bayoux-32-8px">
                  <div class="overlap-group1">
                    <div class="about">About</div>
                    <div class="place">Home</div>
                  </div>
                  <div class="overlap-group">
                    <div class="faq">FAQ</div>
                    <div class="place-1">Contact</div>
                  </div>
                </div>
                <img class="mask-group-1" src="static/img/mask-group-25@2x.svg" />
                <div class="x2022-he-rworld-all valign-text-middle madeevolvesans-light-blue-bayoux-18-7px">
                  © 2022 HERworld. All Rights Reserved.<br /><br />Terms &amp; Conditions | Privacy Policy | Cookie
                  Policy
                </div>
              </div>
            </div>
          </div>
          <div class="sign-up-your-busines madeevolvesans-bold-blue-bayoux-65px">
            Sign up your business to<br />start selling products.
          </div>
          <a href="discover.html">
            <div class="group-1">
              <div class="overlap-group3">
                <img class="rectangle-1" src="static/img/rectangle-1-2@2x.svg" />
                <div class="sign-up-1">Sign Up</div>
              </div>
            </div></a
          >
          <div class="email-type-bar">
            <div class="business-name valign-text-middle madeevolvesans-medium-blue-bayoux-30px">Business Name</div>
            <div class="type-bar-1 border-2-3px-mist-gray"></div>
          </div>
          <div class="email-type-bar-1">
            <div class="business-category valign-text-middle madeevolvesans-medium-blue-bayoux-30px">
              Business Category
            </div>
            <div class="type-bar border-2-3px-mist-gray"></div>
          </div>
          <div class="email-type-bar-2">
            <div class="password valign-text-middle madeevolvesans-medium-blue-bayoux-30px">Password</div>
            <div class="type-bar border-2-3px-mist-gray"></div>
          </div>
        </div>
        <div class="navbar">
          <div class="overlap-group4">
            <div class="rectangle-2"></div>
            <a href="landing-page.html">
              <div class="logo">
                <img class="her-world" src="static/img/her-world-2@2x.svg" />
                <img class="x" src="static/img/-@2x.svg" /></div></a
            ><a href="discover.html"><div class="discover madeevolvesans-bold-blue-bayoux-48px">Discover</div> </a
            ><a href="landing-page.html"><div class="place-2 madeevolvesans-bold-blue-bayoux-48px">Home</div> </a>
            <div class="events madeevolvesans-bold-blue-bayoux-48px">Events</div>
            <a href="about.html"><div class="about-1 madeevolvesans-bold-blue-bayoux-48px">About</div> </a>
            <div class="overlap-group-1">
              <img class="rectangle-1-1" src="static/img/rectangle-1-5@2x.svg" />
              <div class="sign-up-2 madeevolvesans-bold-cinderella-29-9px">Sign Up</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
