@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

@font-face {
  font-family: "MADE Evolve Sans-Light";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/MADE Evolve Sans Light (PERSONAL USE).otf") format("opentype");
}
@font-face {
  font-family: "MADE Evolve Sans-Medium";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/MADE Evolve Sans Medium (PERSONAL USE).otf") format("opentype");
}

/* The following line is used to measure usage of this code in production. For more info see our usage billing page */
@import url("https://px.animaapp.com/62240d93fd12760aa355a441.62240d943580286a27a09636.TpqhCX8.hcp.png");

.screen a {
  display: contents;
  text-decoration: none;
}

.container-center-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  pointer-events: none;
  width: 100%;
}

.container-center-horizontal > * {
  flex-shrink: 0;
  pointer-events: auto;
}

.valign-text-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

* {
  box-sizing: border-box;
}
